.basket-item {
  width: 100%;
  display: flex;
  height: auto;
  margin-bottom: 15px;

  img {
    width: 80px;
    height: 100px;

    .container {
      width: 70%;
    }
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .name {
      font-size: 12px;
    }
  }
}
